@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg-color: #f5f5f5;
    --text-color: #404040;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "inter" sans-serif;
} 

body.dark_mode{
    --bg-color:  #404040;
    --text-color: #f5f5f5 ;
}